
body{
 
 color: #fff;
  background-image: url("bg_image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  overflow-y:hidden;
}
#signin{
  background:#0009;
  margin:300px;
  height: 100%;

  
}
h2{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  margin: 30px;
}
#login{
  margin: 30px;
  margin-left: 30px;
}
#cancel{
  
  margin-left: 30px;
}


#pwd{
  margin: 70px;
  margin-left:20px;
  
}
#gmail{
  margin: 70px;
  margin-left: 30px;
}

.form-control{
  
  width: 400px;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom:1px solid pink;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  font-weight: 200px;
  padding: 10px 0;
  transition: border 0.5s;
  outline: none;
  color:#fff

}
a:hover{
  text-decoration: none;
}
.btn{
  width:380px;
}
p.signin_form{
  float: right;
  margin: 20px;
}
p.forget_pwd{
  float: left;
  margin: 20px;
}
html{
  overflow-y: hidden; 
}