body{
    background-image:url(bg5_image.jpeg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#signin{
    margin: 300px;
    background-color:#0009;
    height: 650px;
    
}
.form-control{
    width: 400px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom:3px solid gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.3s;
    outline: none;
    color:#fff
}
.btn{
    width:360px;
    
}
#name{
    margin: 50px;
    margin-left: 30px;
}
#Gmail{
    margin: 50px;
    margin-left: 30px;

}
#number{
    margin: 50px;
    margin-left: 30px;
}
#pswd{
    margin: 50px;
    margin-left: 30px;
}
#login{
    margin: 30px;
    margin-left: 30px;
}
#cancel{
    
    margin-left: 30px;
}
